<html>

<head>

	<title>Pronounce Names</title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css">
 
</head>

<body>
<!-- ************************************************* -->
	<div id="header">
	
		<p class="head"> SAY IT</p>
		<p class="subhead">Help Us Pronounce</p>

		<div class="navigation">


			<ul>
				<li class="selected"><a href="">Home</a></li>
				
				<li >
					<a>Search</a>
					<ul>
					    <li><a href="admin_search.html">Words</a></li>
					    <li><a href="">Keys</a></li>
					</ul>
				</li>
				
				<li><a href="admin_addword.html">Add Word</a></li>
				
				<li>
				<a>Display all</a>
					<ul>
					    <li><a href="admin_displayallwords.html">Words</a></li>
					    <li><a href="">Keys</a></li>
					</ul>
				</li>
				
				<li class="festival"><a href="admin_fest.html">Festival</a></li>
				
				<li class="selected"><a href="adminlogout.html">LOGOUT</a></li>
			</ul>
		</div>
	</div>
<!-- ************************************************* -->


	<div id="body">

			<div class="login">
			
				<div class="heading">WELCOME ADMIN</div>
				
			<!--	<div class="about">
				     <form action="admin2.html" method="POST">
					 {% csrf_token %}
					 <table>
					     <tr>
					     <td> User:</td>
						<td><input type="text" name="username" id="username"> </td>
					    </tr>
					    <tr>	    
						<td>Password:</td>
						<td><input type="password" name="password" id="password"></td>
					    </tr>
					    <tr>
						<td></td>
						 <td>   <input type="submit" value="Login"> </td>
					     </tr>
					 </table>

					</form>
			        </div>   
				
		
							<img src="{{STATIC_URL}}images/search.jpg " alt ="" > 

			</div>	
			-->
		
		    </div>
		

		
	</div>
<!-- ************************************************* -->
	
	<div id="footer">

		<div class="footer">
			<table>
				<tr>
				    <td class = "links"><a href="">Contact us</a></td>
				    <td class="links"><a href="admin2.html">Admin Site</a></td>
				    <td class="links"><a href= "">Feedback</a></td>
				</tr>
			</table>
				
		</div>
		
	
	</div>

<!-- ************************************************* -->

</body>
